In [1]:
# Problem 3.3
# A satellite is in earth orbit for which perigee altitude is 200 km and apogee altitude is 600 km.
# Find the time interval during which the satellite remains above an altitude of 400 km.

In [2]:
import math

In [3]:
# Math constants and functions
π = math.pi
sqrt = math.sqrt
cos = math.cos
acos = math.acos
sin = math.sin
tan = math.tan
atan = math.atan

In [4]:
# From Table A.1 and A.2
R_earth = 6378  # km
μ_earth = 398600  # km^3 / s^2

In [5]:
# From the problem
zp = 200.0  # perigee altitude in km
za = 600.0  # apogee altitude in km

In [6]:
rp = R_earth + zp  # perigee radius in km
ra = R_earth + za  # apogee radius in km

In [7]:
# Equation 2.74
e = (ra - rp) / (ra + rp)

In [8]:
a = (rp + ra) / 2

In [9]:
T = 2*π/sqrt(μ_earth) * a**1.5

In [10]:
z = 400.0 # km
r = R_earth + z

In [11]:
# From equation 2.62
# r = a * (1 - e**2) / (1 + e * cos(Θ))
# becomes
# 1 + e * cos(Θ) = a * (1 - e**2) / r
# becomes
# e * cos(Θ) = a * (1 - e**2) / r - 1
# becomes
# cos(Θ) = (a * (1 - e**2) / r - 1) / e
# becomes
Θ = acos((a * (1 - e**2) / r - 1) / e)

In [12]:
math.degrees(Θ)

91.6908851319343

In [13]:
# Equation 3.10b
E = 2 * atan(sqrt((1-e)/(1+e))*tan(Θ/2))

In [14]:
# Equation 3.11 (Kepler's Equation)
Me = E - e*sin(E)

In [15]:
# From Equation 3.5
# t is the time below 400km for half the orbit
t = Me / (2*π) * T

In [16]:
# Find the time above 400km for the entire orbit and convert to minutes.
answer = (T - 2*t) / 60

In [17]:
answer  # in minutes

47.14816721707107

In [18]:
# Assert that the answer matches the answer given in the textbook.
assert math.isclose(answer, 47.15, abs_tol=5e-3)